@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body{
  font-family: 'Montserrat Alternates', sans-serif !important;
  background-color: #fff;
  color: #000;
}
nav-link {
  color: #000 !important;
}
fa-solid{
  color: #575E86 !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Poppins:wght@700&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Poppins:wght@700&family=Roboto:wght@400;500&display=swap');

/* NavBar style */
.logoName {
  color: #575E86 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
}

.icon {
  color: #575E86 !important;
  font-size: 20pt !important;
  position: relative;
}

.iconSpan {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.iconNum {
  font-size: 13px;
  color: #fff;
}

.brdr {
  text-shadow: -1px 0 #B00A70, 0 1px #B00A70, 1px 0 #B00A70, 0 -1px #B00A70;
}

.searchbtn {
  width: 75%;
}

.searchicon i {
  color: #575E86;
}

/* Home style */
.homeContent {
  background-color: #EEF2F6;
  height: 92.5vh;
}

.homeLink {
  width: 20%;
  height: 92.5vh;
  margin: 1px 5px 0 0;
  background-color: #fff;
}

.homeLink p,
i {
  color: #575E86 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  text-transform: capitalize !important;
}

aside {
  color: #252E48 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 30pt;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.filterDay {
  background-color: #Fff;
  border: 1px solid transparent;
  color: #828EAE;
}

button {
  color: #fff;
  background-color: #575E86;
  font-size: 20;
  font-family: 'Poppins', sans-serif;
  border: transparent;
}

.allClients {
  width: 30%;
  background-color: #fff;
  border-top: 5px solid #F0940B;
  border-radius: 8%;
  color: #F0940B;
  font-family: 'Roboto', sans-serif;
  font-size: 30pt;


}

.allClients i {
  color: #F0940B !important;
  font-size: 30pt;
}

.lowerText {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter !important;
  font-size: 15pt !important;
}

.textSize {
  font-size: 30pt;
}


.allAwd {
  width: 30%;
  background-color: #fff;
  border-top: 5px solid #00BBFF;
  border-radius: 8%;
  color: #00BBFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
}

.allAwd i {
  color: #00BBFF !important;
  font-size: 20pt;
}

.lowerText {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter !important;
  font-size: 10pt !important;
}

.onlineDeliver {
  width: 35%;
  background-color: #fff;
  border-top: 5px solid #7D36CD;
  border-radius: 8%;
  color: #7D36CD;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
}

.onlineDeliver i {
  color: #7D36CD !important;
  font-size: 20pt;
}

.lowerTextDel {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter !important;
  font-size: 10pt !important;
}

.statics {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 10px;
}

.staticsLeft {
  width: 30%;
  background-color: #575E86;
  border: 1px solid #575E86;
  border-radius: 10px 0 10px 10px;
}

.staticWord {
  font-family: 'Roboto', sans-serif;
  font-size: 15pt;
  color: #fff;
  width: 100%;
}

.cut {
  background-color: #fff;
  height: 0.2rem;
}

.row {
  background-color: #575E86;
  border: 1px solid #575E86;
  border-radius: 0 0 10px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 10pt;
  color: #fff;
  width: 100%;

}

.col-8 {
  font-size: 10;
  font-weight: bold;
  color: #fff;
  margin: 5px;
  padding: 3px;
}

.col-2 {
  font-size: 20;
  font-weight: bold;
  margin: 5px;
  padding: 3px;
}

.greenNo {
  color: #36CD59;
}

.yellowNo {
  color: #FFDF00;
}

.orangeNo {
  color: #FF9900;
}

.staticsChart {
  position: relative;
  overflow: hidden;
}

.chartBackground {
  width: 100%;
  height: 300px;
  margin: 20px;
}

.chartGreen {
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  left: 20;
  z-index: 1000;
}

/* Login */
.originalBackground {
  height: 100vh;
  background: linear-gradient(-80deg, #575E86 50%, #C5CEEF 45%);
}

form {
  width: 100%;
  background-color: transparent;
}

.welcome {
  background: linear-gradient(#B9AAB3, #575E86);
  text-align: start;
  color: #000A53;
  border-radius: 6px;
  padding: 60px 20px;
}

.welcome h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 50;
  font-weight: 700;
}

.welcome aside {
  font-family: 'Roboto', sans-serif;
  font-size: 30;
  font-weight: 600;
}

.welcome p {
  font-family: 'Roboto', sans-serif;
  font-size: 20;
  font-weight: 500;
}

.buttonClass {
  text-decoration: none;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  width: 30%;
  height: 50px;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  background: linear-gradient(#B9AAB3, #575E86);
}

.notfounded {
  background-color: #575E86;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfounded h2 {
  color: #000A53;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}